.employee-page-wrapper {
  display: flex;
  //flex-direction: column;
  height: calc(100vh - 100px);
  align-items: center;
  width: 100%;
  .employee-page-leftpane {
    padding: 10px;
    text-align: center;
    
    .employee-new {
        width: 406px;
        margin: 0 auto;
        .employee-new-title{
            color: #75777E;	
            font-family: Klavika-Italic;
            font-size: 32px;	
            letter-spacing: 0.5px;
            line-height: 39px;
        }

        input {
            color: #9B9B9B;	
            font-family: "Source Sans Pro";	
            font-size: 18px;	
            //font-weight: 600;	
            line-height: 23px;
            background-color: #F5F5F5;
            height: 58px;
            padding-left: 8px;
            border-radius: 0;
            border: solid 1px #f5f5f5;
            font-stretch: condensed;
            letter-spacing: .4px;
            text-align: left;
            width: 100%;

            &::-webkit-input-placeholder {
                font-size: 18px;
                color: #9b9b9b; 
            }    
        }

        textarea {
            background-color: #F5F5F5;
            border-radius: 0;
            font-family: "Source Sans Pro";
            font-size: 18px;
            padding-left: 8px;
            //font-weight: 600;
            color: #9B9B9B;
            border: solid 1px #f5f5f5;
            font-stretch: condensed;
            letter-spacing: .4px;
            text-align: left;
            width: 100%;
            resize: none;

            &::-webkit-input-placeholder {
                font-size: 18px;
                color: #9b9b9b;
            }
        }
        
        .input-form {
            .text-danger-tooltip {
                width: 100%;
            }
        }

        .new-name {
            margin-top: 26px;
            margin-bottom: 26px;            
        }
        
        .address,
        .position {
            margin-bottom: 26px;
        }
    
        .select-form {
            margin-bottom: 20px;
            select {
                color: #9B9B9B;	
                font-family: "Source Sans Pro";	
                font-size: 18px;	
                font-weight: 600;	
                line-height: 23px;
                width: 100%;
                height: 58px;
                background-color: #f5f5f5;
                border: 1px solid #f5f5f5;
                outline-color: #f5f5f5;
                padding-left: 8px;
            }
        }

        .button-save{
            padding-top: 20px;
            .btn-save {
                width: 100%;
                border-radius: 5px;
                box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
                font-family: Klavika;	
                line-height: 39px;	
                text-align: center;
                font-size: 32px;
                font-style: italic;
                margin: 10px 0;
                height: 60px;
                text-transform: uppercase;
                background-color: #F58220;
                border: 3px solid #F58220;
                color: #FFFFFF;

                &:hover {
                    color: #75777E;
                    background: white;
                    border: 3px solid #6F767B;
                }
            }
        }
    }
}
 
}