.employee-page-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  align-items: center;
  width: 100%;
 
  .employee-page-rightpane {
      border-radius: 10px;	
      background-color: #FFFFFF;	
      box-shadow: 0 0 22px 0 rgba(0,0,0,0.1);
      border: 1px solid #f5f5f5;
      display: flex;
      margin-right: 30px;
      padding-left: 40px; 
      flex-direction: column;
      height: calc(100vh - 170px);
      
      .page-title {
          border-bottom: 1px solid #979797;
          padding: 30px 0 10px 0;
          margin-right: 32px;

          .employee-page-title{
              font-family: Klavika-Italic;	
              font-size: 36px;	
              letter-spacing: 0.56px;	
              line-height: 43px;
          }
      }

      .employee-table {
          max-height: 780px;
          overflow-y: auto;
          margin: 10px 0 0 0;
          width: 97%;
          &::-webkit-scrollbar-track {
              box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
              -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
              border-radius: 10px;
          }
          &::-webkit-scrollbar {
              width: 7px;
          }
          &::-webkit-scrollbar-thumb {
              background-color: darkgrey;
              outline: 1px solid slategrey;
              border-radius: 10px;
          }
          table {
              width: 100%;
              tr {
                  margin-top: 10px;
              }
              th:nth-child(5),
              td:nth-child(5),
              th:nth-child(6),
              td:nth-child(6) {
                  text-align: center;
              }
              td,
              th {
                  border: none;
                  padding: 8px;
              }

              th {
                  color: #75777E;
                  font-family: "Source Sans Pro";	
                  font-size: 20px;	
                  font-weight: bold;
                  line-height: 25px;
                  text-transform: uppercase;
              }
              td {
                  color: #4A4A4A;
                  font-family: Klavika;	
                  font-size: 24px;	
                  letter-spacing: 0.52px;	
                  line-height: 20px;
                  height: 70px;
              }
          }
          .fa-pencil {
              cursor: pointer;
          }
          .arrow-up {
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid black;
              margin-top: 5px;
              position: relative;
              margin-left: 10px;
              top: -18px;
          }
          .arrow-down {
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 10px solid black;
              margin-top: 7px;
              position: relative;
              margin-left: 10px;
              top: 14px;
          }
      }
  }  
}